body,h1,div,ul,li{
	margin: 0;
	padding: 0;
}
.hidden{
	display: none;
}
header{
	width: 100%;
	z-index: 3;
	position: fixed;
	background: black;
	color:#fff;
	text-align: center;
	font-size: 30px;
	height: 150px;
	line-height: 150px;
	top:0;
}
header .addbtn{
	position: absolute;
	right:0;
	top:0;

}
.main{
	margin-top: 150px;
}
.cover{
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	background: rgba(0,0,0,0.5);
}
.addBox{
	display: none;
}
.main ul li{
	height: 150px;
	background: #999;
}